/*------------Home Page CSS----------------|START------------*/
/*--------https://community2.dynamics-int.com/---------*/
.common-home .wrap-box-home {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.common-home .wrap-box-home .SBX-Discussion-Box:last-child .dc-forum-box-wrapper {
    border: 0;
}
@media(min-width: 767px){
	.common-home .wrap-box-home .SBX-Discussion-Box:last-child {
	    transform: translateY(-15px);
	}
	.common-home .wrap-box-home .SBX-Discussion-Box:nth-last-child(2) .dc-forum-box {
	    transform: translateY(-25px);
	}
	.common-home .wrap-box-home .SBX-Discussion-Box:nth-last-child(3) .dc-forum-box {
	    transform: translateY(-25px);
	}
}
/*------------Home Page CSS----------------|END------------*/

/*------------Forum Thread Page Page CSS----------------|START------------*/
/*--------https://community2.dynamics-int.com/crm/f/117/t/265623/---------*/
.forums-thread .dc-heading-wrapper {
    padding-top: 0 !important;
}
.forums-thread .dc-post-title-single {
    padding-top: 20px !important;
}
/*------------Forum Thread Page Page CSS----------------|END------------*/

